<h1>Balance Metrics</h1>

<h2>KPIs</h2>
<h3># of successful balance checks: <%= @successful_outbound_balance_texts.count %></h3>
<h3># of unique users with 1+ successful balance checks: <%= @number_of_unique_phone_numbers_with_a_successful_balance_check %></h3>
<h3>% of users who check their balance more than once: <%= @percent_of_users_with_more_than_one_success %></h3>

<h2>Successful Balance Checks: <%= @successful_outbound_balance_texts.count %></h2>
  <% @successful_outbound_balance_texts.each do |m| %>
    <li>
      <% time = Time.parse(m.date_created).utc + Time.zone_offset("PDT") %>
      <%= m.to + ' — ' + @phone_number_hash[m.from] + ' — ' + time.strftime("%a %m/%d/%Y %I:%M %p") + ' — ' + m.body %>
    </li>
  <% end %>
<h2>Inbound Text Messages: <%= @inbound_messages.count %></h2>
<ul>
  <% @inbound_messages.each do |m| %>
    <li>
      <% time = Time.parse(m.date_created).utc + Time.zone_offset("PDT") %>
      <%= m.from + ' — ' + @phone_number_hash[m.to] + ' — ' + time.strftime("%a %m/%d/%Y %I:%M %p") + ' — ' + m.body %>
    </li>
  <% end %>
</ul>
